{
	margin:0;
	padding:0;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}

.hero{
	background: #1d2026;
	min-height: 100vh;
	width: 100%;
	color:#fff;
	position: relative;
}
nav{
	display: flex;
	align-items: center;
	padding: 20px 8%;
}
nav .menu-img{
	 width:25px;
	 margin-right: 20px;
	 cursor: pointer;
}
nav.logo{
	width:160px;
	cursor: pointer;
}
nav ul{
	flex: 1;
	text-align: right;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 0 20px;
}
nav ul li a{
	text-decoration: none;
	color: white;
}

button{
	background: #efefef;
	height: 30px;
	width: 60px;
	border-radius: 20px;
	border:0;
	outline: 0;
	cursor: pointer;
	transition: background 0.5s;
}
button span{
	display: block;
	background: #999;
	height: 26px;
	width: 26px;
	border-radius: 50%;
	margin-left: 2px;
	transition: background 0.5s, margin-left 0.5s;
}
.lamp-container{
	position: absolute;
	top: 20px;
	left:32%;
	width: 200px;
}
.lamp{
	width: 100%;
} 
.light{
	position: absolute;
	top: 97%;
	left: 49%;
	transform: translateX(-50%);
	width: 700px;
	margin-left: -10px;
	opacity: 0;
	transition: opacity 0.5s; 
}
.text-container{
	max-width: 600px;
	margin-top: 7%;
	margin-left: 50%;
}
.text-container h1{
	font-size: 80px;
	font-weight: 400;
}

.text-container-{
	max-width: 400px;
	margin-top: 7%;
	margin-left: 65%;
}

.text-container- a{
	background: #00986f;
	padding: 14px 30px;
	color: #fff;
	font-size: 18px;
	margin-top: 40px;
	border-radius: 30px;
	text-align: right;
	
}
a{
	text-decoration:none;
	color:#555;
}

.control{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 150px;
}
.control .line{
	width: 250px;
	height: 4px;
	background: #fff;
	margin: 0 20px;
	border-radius: 2px;
}
.control .line span{
	width:50%;
	height: 8px;
	margin-top: -2px;
	border-radius: 4px;
	background: #00986f;
	display: block;
}
.active{
	background: green;
}
.active span{
	background: #fff;
	margin-left: 31px;
}
.on{
	opacity: 1;
}

.small-container{
	max-width:1080px;
	margin:auto;
	padding-left:25px;
	padding-right:25px;
}
.col-4{
	flex-basis:25%;
	padding:10px;
	min-width:200px;
	margin-bottom:50px;
	transition:transform 0.5s;
}
.col-4 img{
	width:100%;
}
.title{
	text-align:center;
	margin:0 auto 80px;
	position:relative;
	line-height:60px;
	color:#555;
}
.title::after{
	content:'';
	background:#ff523b;
	width:80px;
	height:5px;
	border-radius:5px;
	position:absolute;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
}
h4{
	color:#555;
	font-weight:normal;
}
.col-4 p{
	font-size:14px;
}
.col-4:hover{
	transform:translateY(-5px);
}


.container{
	max-width:1300px;
	margin:auto;
	padding-left:25px;
	padding-right:25px;
}
.row{
	display:flex;
	align-item:center;
	flex-wrap:wrap;
	justify-content:space-around;
}
.col-2{
	flex-basis:50%;
	min-width:300px;
}
.col-2 img{
	max-width:100%;
	padding:50px 0;
}
.col-2 h1{
	font-size:50px;
	line-height:60px;
	margin:25px 0;
}
.btn{
	display:inline-block;
	background:#ff523b;
	color:#fff;
	padding:8px 30px;
	margin:30px 0;
	border-radius:30px;
	transition:background 0.5s;
}
.btn:hover{
	background: #563434;
}
.header{
	background:radial-gradient(#fff,#ffd6d6);
	
}
.header .row{
	margin-top:70px;
}
.categories{
	margin:70px 0;
}
.col-3{
	flex-basis:30%;
	min-width:15%;
	margin-bottom:20px;
}
.col-3 img{
	width:100%;
}
.small-container{
	max-width:1080px;
	margin:auto;
	padding-left:25px;
	padding-right:25px;
}
.col-4{
	flex-basis:25%;
	padding:10px;
	min-width:200px;
	margin-bottom:50px;
	transition:transform 0.5s;
}
.col-4 img{
	width:100%;
}
.title{
	text-align:center;
	margin:0 auto 80px;
	position:relative;
	line-height:60px;
	color:#555;
}
.title::after{
	content:'';
	background:#ff523b;
	width:80px;
	height:5px;
	border-radius:5px;
	position:absolute;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
}
h4{
	color:#555;
	font-weight:normal;
}
.col-4 p{
	font-size:14px;
}
.col-4:hover{
	transform:translateY(-5px);
}
.offer{
	background:radial-gradient(#fff,#ffd6d6);
	margin-top:80px;
	padding:30px 0;
}
.col-2 .offer-img{
	padding:50px;
}
small{
	color:#555;
}
.testimonial{
	padding-top:100px;
}
.testimonial .col-3{
	text-align:center;
	padding:40px 20px;
	box-shadow:0 0 20px 0px rgba(0,0,0,0.1);
	cursor:pointer;
}
.testimonial .col-3 img{
	width:50px;
	margin-top:20px;
	border-radius:50%;
}
.testimonial .col-3:hover{
	transform:translateY(-10px);
}
.col-3 p{
	font-size:12px;
	margin:12px 0;
	color:#777;
}
.testimonial .col-3 h3{
	font-weight:600;
	color:#555;
	font-size:16px;
}
.brands{
	margin:100px auto;
}
.col-5{
	width:160px:
}
.col-5 img{
	width:100%;
	cursor:pointer;
	filter:grayscale(100%);
}
.col-5 img:hover{
	filter:grayscale(0);
}
.footer{
	background:#000;
	color:#8a8a8a;
	font-size:14px;
	padding:60px 0 20px;
}
.footer p{
	color:#8a8a8a;
}
.footer h3{
	color:#fff;
	margin-bottom:20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
	min-width:250px;
	margin-bottom:20px;
}
.footer-col-1{
	flex-basis:30%;
}
.footer-col-2{
	flex:1;
	text-align:center;
}
.footer-col-1 img{
	width:180px;
	margin-bottom:20px;
}
.footer-col-3,.footer-col-4{
	flex-basis:12%;
	text-align:center;
}
ul{
	list-style-type:none;
}
.app-logo{
	margin-top:20px;
}
.app-logo img{
	width:140px;
}
.menu-icon{
	width:28px;
	margin-left:20px;
}
.row-2{
	justify-content:space-between;
	margin:100px auto 50px;
}
select{
	border:1px solid #ff523b;
	padding:5px;
}
select:focus{
	outline:none;
}
.page-btn{
	margin:0 auto 80px;	
}
.page-btn span{
	display:inline-block;
	border:1px solid #ff523b;
	margin-left:10px;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	cursor:pointer;
}
.page-btn span:hover{
	background:#ff523b;
	color:#fff;
}

.small-container-single-product{
	margin-top:80px;
}
.small-container-single-product .col-2 img{
	padding:0;
}
.small-container-single-product .col-2{
	padding:20px;
}
.small-container-single-product h4{
	margin:20px 0;
	font-size:22px;
	font-weight:bold;
}
.small-container-single-product select{
	display:block;
	padding:10px;
	margin-top:20px;
}
.small-container-single-product input{
	width:50px;
	height:40px;
	padding-left:10px;
	font-size:20px;
	margin-right:10px;
	border:1px solid #ff523b;
}
input:focus{
	outline:none;
}
.small-img-row{
	display:flex;
	justify-content:space-between;
}
.small-img-col{
	flex-basis:24%;
	cursor:pointer;
	
}

.small-container-cart-page{
	margin:80px auto;
	width:80%;
	
}
table{
	width:100%;
	border-collapse:collapse;
}
.cart-info{
	display:flex;
	flex-wrap:wrap;
}
th{
	text-align:left;
	padding:5px;
	color:#fff;
	background:#ff523b;
	font-weight:normal;
}
td{
	padding:10px 5px;
}
td input{
	width:40px;
	height:30px;
	padding:5px;
}
td a{
	color:#ff523b;
	font-size:12px;
	
}
td img{
	width:80px;
	height:80px;
	margin-right:10px;
}

.total-price{
	display:flex;
	justify-content:flex-end;
}
.total-price table{
	border-top:3px solid #ff523b;
	width:100%;
	max-width:400px;
}
td:last-child{
	text-align:right;
}
th:last-child{
	text-align:right;
}


.account-page{
	padding:50px 0;
	background:radial-gradient(#fff,#ffd6d6);
}
.form-container{
	background:#fff;
	width:300px;
	height:400px;
	position:relative;
	text-align:center;
	padding:20px 0;
	margin:auto;
	box-shadow:0 0 20px 0px rgba(0,0,0,0.1);
	overflow:hidden;
}

.form-container span{
	font-weight:bold;
	padding:0 10px;
	color:#555;
	cursor:pointer;
	width:100px;
	display:inline-block;
}
.form-btn{
	display:inline-block;
}
.form-container form{
	max-width:300px;
	padding:0 20px;
	position:absolute;
	top:130px;
	transition:transform 1s;
}
form input{
	width:100%;
	height:30px;
	margin:10px 0;
	padding:0 10px;
	border:1px solid #ccc;
}
form .btn{
	width:250px;
	border:none;
	cursor:pointer;
	margin:10px 0;
}
form .btn:focus{
	outline:none;
}


#LoginForm{
	left:-300px;
}

#RegForm{
	left:0px;
}

form a{
	font-size:12px;
}

#Indicator{
	width:100px;
	border:none;
	background:#ff523b;
	height:3px;
	margin-top:8px;
	transform:translateX(100px);
	transition:transform 1s;
}
